/*global*/
$font-title: 'Playfair Display', serif;
$font-text: 'Source Sans 3', sans-serif;
$font-color1: #fff;
$font-color2: #030306;
$font-color3: #fed136;
$font-color4: #777777;

*,
::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 46px;
  font-family: $font-text;
  color: $font-color2;
}

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

//header//
.splash {
  height: 100vh;
  position: relative;
  background-image: url(https://i.postimg.cc/KjTcDKg7/Background-Image.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
nav {
  font-size: 14px;

  .col-4 {
    p {
      font-style: italic;
      font-size: 26px;
      color: #fed136;
      line-height: 41px;
      text-align: left;
      margin-top: 14px;
      font-family: $font-title;
    }
  }
  .col-8 {
    line-height: 41px;
    text-align: center;
    align-items: center;
    font-weight: 600;
  }

  ul {
    list-style: none;

    li a {
      text-decoration: none;
      text-transform: uppercase;
      color: $font-color1;
    }
  }
}

.splash-inner {
  padding-top: 20px;
  padding-bottom: 20px;

  h1 {
    font-size: 40px;
    color: $font-color1;
    font-style: italic;
    text-align: center;
    margin: 10px;
    font-family: $font-title;
  }
  h2 {
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    color: $font-color1;
    font-family: $font-title;
  }
  .btn-one {
    width: 15%;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: $font-color1;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: $font-color3;
    background-color: $font-color3;
  }
}

//intro//
.intro {
  background-color: $font-color1;

  .col-12 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    h3 {
      color: $font-color2;
      font-size: 40px;
      font-weight: 800;
      line-height: 75px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-family: $font-title;
      margin-bottom: 0;
    }

    p {
      color: $font-color4;
      font-size: 16px;
      font-style: italic;
      font-family: $font-text;
      text-align: center;
      margin-top: 0;
    }
  }
}

//products//
.product {
  .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
      height: 60px;
      width: 60px;
      font-size: 30px;
      border-radius: 50%;
      border: 3px solid #fed136;
      margin-bottom: 5px;
      cursor: pointer;
      background: $font-color1;
      line-height: 68px;
      text-align: center;
      color: $font-color3;
    }

    h4 {
      color: $font-color2;
      font-size: 18px;
      font-weight: 900;
      line-height: 30px;
      font-family: $font-title;
      margin: 0;
    }

    p {
      color: $font-color4;
      font-size: 14px;
      text-align: center;
      font-family: $font-text;
      margin: 0;
      letter-spacing: -0.35px;
    }
  }
}

//portfolio/
.portfolio {
  background-color: #f7f7f7;
  ul {
    list-style: none;
  }

  li {
    text-align: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h4 {
      color: $font-color2;
      font-size: 18px;
      font-weight: 900;
      line-height: 30px;
      font-family: $font-title;
      margin: 0;
      letter-spacing: -0.45px;
    }

    p {
      color: $font-color4;
      font-size: 14px;
      text-align: center;
      font-family: $font-text;
      margin: 0;
      font-style: italic;
    }
  }
}

//footer//
.page-footter {
  p {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    letter-spacing: -0.35px;
    margin-top: 25px;
  }
  .col-md-4 .row {
    justify-content: center;
  }
  i {
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 50%;
    margin-bottom: 5px;
    cursor: pointer;
    background: $font-color2;
    line-height: 40px;
    text-align: center;
    color: $font-color1;
  }
}

@media (max-width: 991px) {
  .splash {
    height: 100%;
  }
  nav {
    font-size: 12px;
  }
  .splash-inner h1,
  .splash-inner h2 {
    font-size: 30px;
  }
  .splash-inner .btn-one {
    font-size: 12px;
    width: 30%;
    padding: 5px;
  }

  .intro .col-12 h3 {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .splash {
    height: 100%;
  }
  nav {
    font-size: 12px;
  }
  .splash-inner .btn-one {
    padding: 5px;
    width: 20%;
  }
}
